<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">

<title>GT Players List</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light "
		style="background-image: url('Images/header-curl-bg.svg'); background-repeat: repeat-x; background-size: 50%; background-color: rgb(49, 49, 161)">
		<div class="container-fluid">
			<a class="navbar-brand text-white" href="#"><img
				src="Images/ipl-logo.png"
				style="height: 50px; width: 95px; position: relative;"> </a>
			<button class="navbar-toggler text-white" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon text-white color-white"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active text-white"
						aria-current="page" href="/">HOME</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="team">TEAM</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="point_table">POINT TABLE</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="venue">VENUES</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="about">ABOUT US</a></li>

				</ul>
				<div>
					<ul>
						<li class="nav-item"><a class="nav-link text-white"
							href="add-gt-players">Add GT Player</a></li>
					</ul>
				</div>

			</div>
			
		</div>
	</nav>
	<div>

		<h2 th:if="${#lists.size(teams) > 0}"></h2>
		<div class="row" th:if="${#lists.size(teams) > 0}">
			<h2 th:text="${teams[0].teams.name}"></h2>
			<div class="vn-trophyBtn">
				<img src="https://www.iplt20.com/assets/images/team-trophy.png"
					alt=""><span th:text="${teams[0].teams.winyears}"></span>
			</div>
		</div>

		<div>
			<p>
				<span>Owner</span> <b>-</b> <span th:text="${teams[0].teams.owner}"></span>
			</p>
			<p>
				<span>Coach</span> <b>-</b> <span th:text="${teams[0].teams.coach}"></span>
			</p>
			<p>
				<span>Venue</span> <b>-</b> <span th:text="${teams[0].teams.venue}"></span>
			</p>
			<p>
				<span>Captain</span> <b>-</b> <span
					th:text="${teams[0].teams.captain}"></span>
			</p>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Action1</th>
					<th>Player Name</th>
					<th>Roll</th>
					<th>Nation</th>
					<th>Action2</th>
					<th>Action3</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="player : ${teams}">
					<td><a class="btn btn-success btn-sm"
						th:href="@{/add-gt-to-dream11/{id} (id=${player.id})}">ADD TO
							DREAM11</a></td>

					<td th:text="${player.playerName}"></td>
					<td th:text="${player.roll}"></td>
					<td th:text="${player.nation}"></td>

					<td><a class="btn btn-primary btn-sm"
						th:href="@{/edit-gt-player/{id} (id=${player.id})}">UPDATE</a></td>
					<td><a class="btn btn-danger btn-sm"
						th:href="@{/delete-gt-player/{id} (id=${player.id})}">DELETE</a>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer text-body-secondary" style="background-color: rgb(49, 49, 161);color:white;">
		<div class="ap-copy col-100 floatLft" style="padding-bottom: 15px;">
			<p class="mb-0 w-100 text-center">Copyright © IPL 2024 All Rights Reserved.</p>
		</div>
	</div>

</body>

</html>