<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">


<title>Indian Premier League</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light "
		style="background-image: url('Images/header-curl-bg.svg'); background-repeat: repeat-x; background-size: 50%; background-color: rgb(49, 49, 161)">
		<div class="container-fluid">
			<a class="navbar-brand text-white" href="#"><img
				src="Images/ipl-logo.png"
				style="height: 50px; width: 95px; position: relative;"> </a>
			<button class="navbar-toggler text-white" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon text-white color-white"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active text-white"
						aria-current="page" href="/home-page">Home</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="team">Teams</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="get-match-details">Matches</a>
					<li class="nav-item"><a class="nav-link text-white"
						href="point_table">Point Table</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="venue">Venues</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="about">About Us</a></li>
				</ul>


			</div>
		</div>
	</nav>
	<div id="carouselExampleInterval" class="carousel slide"
		data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active" data-bs-interval="1000">
				<img src="Images/cover-img.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item" data-bs-interval="2000">
				<img src="Images/cover2-img.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="Images/carousel3.jpg" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button"
			data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button"
			data-bs-target="#carouselExampleInterval" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Next</span>
		</button>
	</div>


	<div class="row p-3 mb-2 bg-dark text-white">
		<div class="col-3">
			<h2 class="ap-foot-head">TEAM</h2>

			<a class="btn text-light"
				href="https://www.iplt20.com/teams/chennai-super-kings">Chennai
				super kings</a> <a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer" data-element_text="Delhi Capitals"
				href="https://www.iplt20.com/teams/delhi-capitals">Delhi
				Capitals</a> <br> <a class="btn text-light"
				onclick="click_menu(this)" data-event_context="footer"
				data-element_text="Gujarat Titans"
				href="https://www.iplt20.com/teams/gujarat-titans">Gujarat
				Titans</a><a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer"
				data-element_text="Kolkata Knight Riders"
				href="https://www.iplt20.com/teams/kolkata-knight-riders">Kolkata
				Knight Riders</a><a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer" data-element_text="Lucknow Super Giants"
				href="https://www.iplt20.com/teams/lucknow-super-giants">Lucknow
				Super Giants</a><a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer" data-element_text="Mumbai Indians"
				href="https://www.iplt20.com/teams/mumbai-indians">Mumbai
				Indians</a> <br> <a class="btn text-light"
				onclick="click_menu(this)" data-event_context="footer"
				data-element_text="Punjab Kings"
				href="https://www.iplt20.com/teams/punjab-kings">Punjab Kings</a> <br>
			<a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer" data-element_text="Rajasthan Royals"
				href="https://www.iplt20.com/teams/rajasthan-royals">Rajasthan
				Royals</a><a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer"
				data-element_text="Royal Challengers Bengaluru"
				href="https://www.iplt20.com/teams/royal-challengers-bangalore">Royal
				Challengers Bengaluru</a><a class="btn text-light"
				onclick="click_menu(this)" data-event_context="footer"
				data-element_text="Sunrisers Hyderabad"
				href="https://www.iplt20.com/teams/sunrisers-hyderabad">Sunrisers
				Hyderabad</a>

		</div>
		<div class="col-3">
			<h2 class="ap-foot-head">ABOUT</h2>
			<a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer" data-element_text="About Us"
				href="https://www.iplt20.com/about/about-us">About Us</a> <br>
			<a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer"
				data-element_text="Anti Corruption Policy"
				href="https://www.iplt20.com/about/anti-corruption-policy?id=260">Anti
				Corruption Policy</a><a class="btn text-light"
				onclick="click_menu(this)" data-event_context="footer"
				data-element_text="Anti Doping Policy"
				href="https://www.iplt20.com/about/anti-doping-policy?id=261">Anti
				Doping Policy</a><a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer" data-element_text="TUE Application Form"
				href="https://www.iplt20.com/about/tue-application-form?id=265">TUE
				Application Form</a><a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer"
				data-element_text="Anti Discrimination Policy"
				href="https://www.iplt20.com/about/anti-racism-policy?id=266">Anti
				Discrimination Policy</a><a class="btn text-light"
				onclick="click_menu(this)" data-event_context="footer"
				data-element_text="Clothing and Equipment Regulations"
				href="https://www.iplt20.com/about/clothing-and-equipment-regulations?id=267">Clothing
				and Equipment Regulations</a><a class="btn text-light"
				onclick="click_menu(this)" data-event_context="footer"
				data-element_text="Code Of Conduct For Players and Teams Officials"
				href="https://www.iplt20.com/about/code-of-conduct-for-players-and-team-officials?id=268">Code
				Of Conduct For Players and Teams Officials</a><a class="btn text-light"
				onclick="click_menu(this)" data-event_context="footer"
				data-element_text="News Access Regulations"
				href="https://www.iplt20.com/about/news-access-regulations?id=270">News
				Access Regulations</a><a class="btn text-light"
				onclick="click_menu(this)" data-event_context="footer"
				data-element_text="Image Use Terms"
				href="https://www.iplt20.com/about/image-use-terms?id=271">Image
				Use Terms</a>
		</div>
		<div class="col-3">
			<h2 class="ap-foot-head">GUIDELINES</h2>
			<a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer"
				data-element_text="IPL Code Of Conduct For Match Officials"
				href="https://www.iplt20.com/about/about-us">IPL Code Of Conduct
				For Match Officials</a><a class="btn text-light"
				onclick="click_menu(this)" data-event_context="footer"
				data-element_text="Brand And Protection Guidelines"
				href="https://assets.iplt20.com/bcci/documents/1680174721009_Brand&amp;ContentProtectionGuidelines.pdf">Brand
				And Protection Guidelines</a><a class="btn text-light"
				onclick="click_menu(this)" data-event_context="footer"
				data-element_text="Governing Council"
				href="https://www.iplt20.com/about/governing-council?id=275">Governing
				Council</a><a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer"
				data-element_text="Match Playing Conditions"
				href="https://www.iplt20.com/about/match-playing-conditions?id=272">Match
				Playing Conditions</a><a class="btn text-light"
				onclick="click_menu(this)" data-event_context="footer"
				data-element_text="PMOA Minimum Standard"
				href="https://www.iplt20.com/about/pmoa-minimum-standard?id=273">PMOA
				Minimum Standard</a><a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer"
				data-element_text="Suspect Action Policy"
				href="https://www.iplt20.com/about/suspect-action-policy?id=290">Suspect
				Action Policy</a>
		</div>
		<div class="col-3">
			<h2 class="ap-foot-head">CONTACT</h2>
			<a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer" data-element_text="Contact Us"
				href="https://www.iplt20.com/about/contact-us">Contact Us</a> <br>
			<a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer" data-element_text="Sponsorship"
				href="https://www.iplt20.com/about/contact-us">Sponsorship</a> <br>
			<a class="btn text-light" onclick="click_menu(this)"
				data-event_context="footer" data-element_text="Privacy Policy"
				href="https://www.iplt20.com/privacy-policy">Privacy Policy</a>

		</div>
	</div>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>