<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">

<title>Players List</title>
</head>

<body>
	<div>

		<h2 th:if="${#lists.size(teams) > 0}">Team Information</h2>
		<div class="row" th:if="${#lists.size(teams) > 0}">
			<div class="vn-trophyBtn">
				<img src="https://www.iplt20.com/assets/images/team-trophy.png"
					alt=""><span th:text="${teams[0].teams.winyears}"></span>
			</div>
		</div>
	
	<div>
		<p>
			<span>Owner</span> <b>-</b> <span th:text="${teams[0].teams.owner}"></span>
		</p>
		<p>
			<span>Coach</span> <b>-</b> <span th:text="${teams[0].teams.coach}"></span>
		</p>
		<p>
			<span>Venue</span> <b>-</b> <span th:text="${teams[0].teams.venue}"></span>
		</p>
		<p>
			<span>Captain</span> <b>-</b> <span
				th:text="${teams[0].teams.captain}"></span>
		</p>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>

				<th>Player Name</th>
				<th>Roll</th>
				<th>Nation</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="player : ${teams}">

				<td th:text="${player.playerName}"></td>
				<td th:text="${player.roll}"></td>
				<td th:text="${player.nation}"></td>
				

			</tr>
		</tbody>
	</table>
	</div>

</body>

</html>