<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>About Us</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light "
		style="background-image: url('Images/header-curl-bg.svg'); background-repeat: repeat-x; background-size: 50%; background-color: rgb(49, 49, 161)">
		<div class="container-fluid">
			<a class="navbar-brand text-white" href="#"><img
				src="Images/ipl-logo.png"
				style="height: 50px; width: 95px; position: relative;"> </a>
			<button class="navbar-toggler text-white" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon text-white color-white"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active text-white"
						aria-current="page" href="/home-page">Home</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="team">Teams</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="get-match-details">Matches</a>

						<li class="nav-item"><a class="nav-link text-white"
						href="point_table">Point Table</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="venue">Venues</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="about">About Us</a></li>
				</ul>
				

			</div>
		</div>
	</nav>
	<div class="row">
		<div class="col-12">
			<img class="img-fluid" src="Images/rcb-ground.jpg">
		</div>
	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>