<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>in venue</h1>
<section class="np-leaderInnserSectionBg bottom-section-main w-100">
      <div class="col-100 textCenter floatLft">
        <div class="container mt-0">
          <div class="row">
                                                                                      <div class="col-lg-4 col-md-6">
                      <a onclick="click_tile(this)" data-title="M. A. Chidambaram Stadium" data-type="venue" href="https://www.iplt20.com/venues/1/M-A-Chidambaram-Stadium" class="np-venu_innerWrp mb-4">
                        <div class="np-venu_inner col-100 floatLft">
                          <img class="np-deskImg" src="https://www.iplt20.com/assets/images/stadiumimage/Chennai-new.jpg" alt="">
                          <img class="np-mobImg" src="https://www.iplt20.com/assets/images/stadiumimage/Chennai-new.jpg" alt="">
                          <!-- <img class="np-deskImg" src="https://www.iplt20.com/assets/images/nikhil/np-stadium-1.jpg" alt="">
                            <img class="np-mobImg" src="https://www.iplt20.com/assets/images/nikhil/np-stadium-mobile-1.jpg" alt=""> -->
                          <div class="np-venu_inner--text col-100 floatLft absolute">
                            <span>M. A. Chidambaram Stadium</span>
                            <br>
                            <h6>Chennai</h6>
                            <br>
                            <h4>View Stadium Details</h4>
                          </div>
                        </div>
                      </a>
                    </div>
                                                                                            <div class="col-lg-4 col-md-6">
                      <a onclick="click_tile(this)" data-title="EDEN GARDENS" data-type="venue" href="https://www.iplt20.com/venues/2/eden-gardens" class="np-venu_innerWrp mb-4">
                        <div class="np-venu_inner col-100 floatLft">
                          <img class="np-deskImg" src="https://www.iplt20.com/assets/images/stadiumimage/eden-garden-small-new.jpg" alt="">
                          <img class="np-mobImg" src="https://www.iplt20.com/assets/images/stadiumimage/eden-garden-small-new.jpg" alt="">
                          <!-- <img class="np-deskImg" src="https://www.iplt20.com/assets/images/nikhil/np-stadium-1.jpg" alt="">
                          <img class="np-mobImg" src="https://www.iplt20.com/assets/images/nikhil/np-stadium-mobile-1.jpg" alt=""> -->
                          <div class="np-venu_inner--text col-100 floatLft absolute">
                            <span>EDEN GARDENS</span>
                            <br>
                            <h6>Kolkata</h6>
                            <br>
                            <h4>View Stadium Details</h4>
                          </div>
                        </div>
                      </a>
                    </div>
                                                                                            <div class="col-lg-4 col-md-6">
                      <a onclick="click_tile(this)" data-title="Wankhede Stadium" data-type="venue" href="https://www.iplt20.com/venues/4/Wankhede-Stadium" class="np-venu_innerWrp mb-4">
                        <div class="np-venu_inner col-100 floatLft">
                          <img class="np-deskImg" src="https://www.iplt20.com/assets/images/stadiumimage/Wankhede-Stadium-new.jpg" alt="">
                          <img class="np-mobImg" src="https://www.iplt20.com/assets/images/stadiumimage/Wankhede-Stadium-new.jpg" alt="">
                          <!-- <img class="np-deskImg" src="https://www.iplt20.com/assets/images/nikhil/np-stadium-1.jpg" alt="">
                            <img class="np-mobImg" src="https://www.iplt20.com/assets/images/nikhil/np-stadium-mobile-1.jpg" alt=""> -->
                          <div class="np-venu_inner--text col-100 floatLft absolute">
                            <span>Wankhede Stadium</span>
                            <br>
                            <h6>Mumbai</h6>
                            <br>
                            <h4>View Stadium Details</h4>
                          </div>
                        </div>
                      </a>
                    </div>
                                                                                            <div class="col-lg-4 col-md-6">
                      <a onclick="click_tile(this)" data-title="M. Chinnaswamy Stadium" data-type="venue" href="https://www.iplt20.com/venues/5/M-Chinnaswamy-Stadium" class="np-venu_innerWrp mb-4">
                        <div class="np-venu_inner col-100 floatLft">
                          <img class="np-deskImg" src="https://www.iplt20.com/assets/images/stadiumimage/M.Chinnaswamy-Stadium.jpg" alt="">
                          <img class="np-mobImg" src="https://www.iplt20.com/assets/images/stadiumimage/M.Chinnaswamy-Stadium.jpg" alt="">
                          <!-- <img class="np-deskImg" src="https://www.iplt20.com/assets/images/nikhil/np-stadium-1.jpg" alt="">
                            <img class="np-mobImg" src="https://www.iplt20.com/assets/images/nikhil/np-stadium-mobile-1.jpg" alt=""> -->
                          <div class="np-venu_inner--text col-100 floatLft absolute">
                            <span>M. Chinnaswamy Stadium</span>
                            <br>
                            <h6>Bengaluru</h6>
                            <br>
                            <h4>View Stadium Details</h4>
                          </div>
                        </div>
                      </a>
                    </div>
                                                                                                                              <div class="col-lg-4 col-md-6">
                      <a onclick="click_tile(this)" data-title="Arun Jaitley Stadium" data-type="venue" href="https://www.iplt20.com/venues/8/Arun-Jaitley-Stadium" class="np-venu_innerWrp mb-4">
                        <div class="np-venu_inner col-100 floatLft">
                          <img class="np-deskImg" src="https://www.iplt20.com/assets/images/stadiumimage/Arun-Jaitley-Stadium-Delhi.jpg" alt="">
                          <img class="np-mobImg" src="https://www.iplt20.com/assets/images/stadiumimage/Arun-Jaitley-Stadium-Delhi.jpg" alt="">
                          <div class="np-venu_inner--text col-100 floatLft absolute">
                            <span>Arun Jaitley Stadium</span>
                            <br>
                            <h6>Delhi</h6>
                            <br>
                            <h4>View Stadium Details</h4>
                          </div>
                        </div>
                      </a>
                    </div>
                                                                                            <div class="col-lg-4 col-md-6">
                      <a onclick="click_tile(this)" data-title="DY Patil Stadium" data-type="venue" href="https://www.iplt20.com/venues/16/DY-Patil-Stadium" class="np-venu_innerWrp mb-4">
                        <div class="np-venu_inner col-100 floatLft">
                          <img class="np-deskImg" src="https://www.iplt20.com/assets/images/stadiumimage/dy-patil-small.jpg" alt="">
                          <img class="np-mobImg" src="https://www.iplt20.com/assets/images/stadiumimage/dy-patil-small.jpg" alt="">
                          <!-- <img class="np-deskImg" src="https://www.iplt20.com/assets/images/nikhil/np-stadium-1.jpg" alt="">
                            <img class="np-mobImg" src="https://www.iplt20.com/assets/images/nikhil/np-stadium-mobile-1.jpg" alt=""> -->
                          <div class="np-venu_inner--text col-100 floatLft absolute">
                            <span>DY Patil Stadium</span>
                            <br>
                            <h6>Navi Mumbai</h6>
                            <br>
                            <h4>View Stadium Details</h4>
                          </div>
                        </div>
                      </a>
                    </div>
                                                                                                                              <div class="col-lg-4 col-md-6">
                      <a onclick="click_tile(this)" data-title="Narendra Modi Stadium" data-type="venue" href="https://www.iplt20.com/venues/19/Narendra-Modi-Stadium" class="np-venu_innerWrp mb-4">
                        <div class="np-venu_inner col-100 floatLft">
                          <img class="np-deskImg" src="https://www.iplt20.com/assets/images/stadiumimage/Narendra-new.jpg" alt="">
                          <img class="np-mobImg" src="https://www.iplt20.com/assets/images/stadiumimage/Narendra-new.jpg" alt="">
                          <!-- <img class="np-deskImg" src="https://www.iplt20.com/assets/images/nikhil/np-stadium-1.jpg" alt="">
                            <img class="np-mobImg" src="https://www.iplt20.com/assets/images/nikhil/np-stadium-mobile-1.jpg" alt=""> -->
                          <div class="np-venu_inner--text col-100 floatLft absolute">
                            <span>Narendra Modi Stadium</span>
                            <br>
                            <h6>Ahmedabad</h6>
                            <br>
                            <h4>View Stadium Details</h4>
                          </div>
                        </div>
                      </a>
                    </div>
                                                                                                                                                                                                </div>
        </div>
    </div>
  </section>
</body>
</html>